.service-card {
    width: 160px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.service-card-header {
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
}

.service-card-container {
    padding: 10px;
    text-decoration: none;
}

.service-link {
    text-decoration: none;
    color: royalblue;
    margin: 15px;
}

.service-logo {
    height: 64px;
    width: 64px;
}